{% include 'header.html' %}
<div class="content">
    {% csrf_token %}
    <div class="grid-container">
        {% for item in data %}
            <div class="border-list">
                {% if item.image %}
                    <img class="product-image" src="{{ item.image.url }}" alt="Product Image">
                {% else %}
                    <div class="product-image"></div>
                {% endif %}
                <div class="add-list" product-id="{{ item.id }}">
                    <span class="material-icons plus-product" onclick="addProductToShoppingList({{ item.id }})">add</span>
                    <span class="material-symbols-outlined loading-icon" style="display: none;">directory_sync</span>
                </div>
                <div class="product-details">
                    <div><span>Product: </span>{{ item.name }}</div>
                    <div><span>Description: </span>{{ item.description }}</div>
                    <div><span>Category: </span>{{ item.category }}</div>
                </div>

                <div class="product-actions">
                    <button onclick="editProduct({{ item.id }})">Edit</button>
                    <button onclick="deleteProduct({{ item.id }})">Delete</button>
                </div>

            </div>
        {% endfor %}
    </div>
</div>
{% include 'footer.html' %}