{% include 'header.html' %}
<div class="center-content content">
    {% csrf_token %}
    <div id="id_shopping_list" class="form">
        {% for item in shopping_items %}
            <div class="item-row">
                {% if item.product_name.image %}
                    <img class="product-image" src="{{ item.product_name.image.url }}" alt="Product Image">
                {% endif %}
                <span>{{ forloop.counter }}. </span>
                {% if item.amount and item.amount > 1 %}
                    <div style="padding-left: 10px;"><span>Amount: </span>{{ item.amount }}</div>
                {% endif %}
                <div><span></span>{{ item.product_name.name }} - {{ item.product_name.description }} </div>
                {% if item.location %}
                    <div style="padding-left: 10px;"><span>Location: </span>{{ item.location }}</div>
                {% endif %}
                {% if item.price %}
                    <div style="padding-left: 10px;"><span>Price: </span>{{ item.price }}</div>
                {% endif %}
                <span class="material-icons" style="margin-left: 5px; color: red; cursor: pointer;" onclick="deleteShoppingItem({{ item.id }});">clear</span>
            </div>
        {% endfor %}
    </div>
    <div style="width: 300px; margin-left: 40%;">
        <select id="id_selected_product" name="product_name">
            {% for name in products %}
                <option value="{{ name }}">{{ name }}</option>
            {% endfor %}
        </select>
        <input type="text" name="amount" id="id_amount" placeholder="Amount">
        <input type="text" name="price" id="id_price" placeholder="Price">
        <input type="text" name="location" id="id_location" placeholder="Location">
    </div>
    <button class="button-shopping" onclick="addShoppingItem()">Add</button>
</div>
{% include 'footer.html' %}
